@use "_base" with ($headerbar-bg-color: #2e2e32,
    $headerbar-fg-color: #ffffff,
    $headerbar-shade-color: rgb(0 0 6 / 36%),
    $warning-bg-color: #cd9309,
    $warning-fg-color: rgb(0 0 0 / 80%),
    $active-tab-bg-color: rgb(255 255 255 / 12.5%),
);
